
*{
    margin 0px;
    padding 0px;
    
}
body{margin 0px;}
div#TAU1{
    width:1137px;
    margin:0px auto;
	height:795px;
    margin-top: 0px;
    
    padding-top: 10px;
    padding-right: 50px;
    background-color: rgb(233, 227, 227);
}
aside#control{
height: 500px;
width: 300px;
margin-top: 30px;
    margin-left: 716px;
    margin-right: 650px;
    background-color: rgb(233, 227, 227);
    padding-left: 31px;


}
div#morado{
    height: 300px;
width: 100px;
margin-top: -253px;
    margin-left: 197px;
    margin-right: 50px;
    background: #6a3093;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom,#6a3093, #a044ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom,#6a3093, #a044ff ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    display: inline-flex;
    
}
button.btn.btn-secondary.btn-lg{
     
    margin-left: -37px;
    color:#1d1414;
    width: 233px;
    height: 49px;

}
.bg-warning{
    background-color: #d2963a;
}
header{
    height: 50px;
}
div#app{
    height: 700px;
    width: 682px;
    background-color: rgb(214, 206, 202);
    
    margin-top: -511px;
    margin-left: 20px;
    padding-top: 20px;
}
button#x.btn.btn.success{
    margin-left: 5px;
    margin-top: 30px;
    padding-top: 0.1rem;
    

}
h5{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 2.25em;
}
.bimestre{  height: 700px;
    width: 625px;
    background-color: rgb(214, 206, 202);
    margin-top: -511px;
    margin-left: 20px;
    padding-top: 20px;}
.semestre{  height: 700px;
    width: 625px;
    background-color:rgb(214, 206, 202);
    margin-top: -511px;
    margin-left: 20px;
    padding-top: 20px;}
.quatrimestre{  height: 700px;
    width: 625px;
    background-color: rgb(214, 206, 202);
    margin-top: -511px;
    margin-left: 20px;
    padding-top: 20px;}
.diasdecurso{  height: 700px;
    width: 625px;
    background-color: rgb(214, 206, 202);
    margin-top: -511px;
    margin-left: 20px;
    padding-top: 20px;}
    .btn.btn-success{
        padding-top: 1.1rem;
    }
    .perfil{
        margin-left: -37px; margin-top: 6px; width:233px ; height:49px ; background-color:  #abb2b9; font-family: 'Balsamiq Sans', cursive; color:#1d1414;"
    }

    button#botonMgru.btn.btn.btn-success.btn-lg{
        width: 234px;
        height: 52px;
        margin-top: 5px;
    }

    button#botonOgru.btn.btn.btn-success.btn-lg{
        width: 234px; 
        height: 52px ;
        margin-top: 5px;
    }
    #result {
        position: absolute;
        width: 29%;
        max-width: 500px;
        cursor: pointer;
        overflow-y:auto;
        max-height: 200px;
        box-sizing: border-box;
        z-index: 700;
    }
    .link-class:hover{
        background-color: #f1f1f1;
    }

    element.style{
        display: none;
        top: 38px;
        left: 62px;
        width: 226;
    }
    .ui-widget.ui-widget-content{
        border:1px solr #c5c5c5
    }
    .ui-widget-content{
        background: #ffffff;
        color: #333333;
    }
    .ui-widget{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1em;
    }
    .ui-menu{
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        outline: 0;

    }
    .ui-autocomplete{
        position: absolute;
        cursor: default;

    }
    .ui-font{
        z-index:100;
    }
    ul{
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start:0px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

